<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>sumitup</title>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen, projection" />
  <link href="/static/css/custom.css" type="text/css" rel="stylesheet" media="screen, projection" />
  <style type="text/css">
    .main-section{
      padding: 20px;
      margin: 100px auto 0;
      background-color: #fff;
      box-shadow: 0 0 20px #c1c1c1;
    }
    #custom_card{
      background-color:grey;
	  color:#fff;
	  padding:10px;
      overflow:auto;
    }
    #custom_card2{
      background-color:#383838;
      color:#fff;
      padding:10px;
      overflow:auto;
    }
  </style>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.3/css/mdb.min.css" rel="stylesheet">
</head>
<body>
  <div class="navbar-fixed">
      {% block navbar %}
    <nav class="grey darken-4" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">sumitup</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{{url_for('index')}}">Home</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>
      {% endblock %}
  </div>
  <ul id="nav-mobile" class="sidenav">
    <li><a href="{{url_for('index')}}">Home</a></li>
  </ul>
  <!-- Start of Main Section -->
  <div class="container">
    <h3 align="center">Summarize in Seconds</h3>
    <div class="section">
      <!--  Summary Section   -->
      <div class="row">
        <div class="col s6">
          <form method="POST" action="/analyze">
            <textarea style="min-height: 5rem" name="rawtext" cols="3" rows="5" class="form-control" required="true" placeholder="Enter Text Here"></textarea>
            <button class="btn btn-small waves-effect waves-light light-blue lighten-1" type="reset">Clear</button>
            <button class="btn btn-small waves-effect waves-light purple lighten-1" type="submit">Summarize</button>
          </form>
        </div>
        <div class="col s6">
          <form method="POST" action="/analyze_url">
            <input style="min-height: 5rem" type="text" name="raw_url" placeholder="Enter URL Here" required="true">
            <button class="btn btn-small waves-effect waves-light light-blue lighten-1" type="reset">Clear</button>
            <button class="btn btn-small waves-effect waves-light purple lighten-1" type="submit">Summarize</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End -->
  <footer class="page-footer grey darken-4">
    <div class="container" id="aboutapp">
      <div class="row">
        <div class="col s6">
          <h5 class="white-text">About Summary App</h5>
          <p class="grey-text text-lighten-4">Using Spacy, NLTk and Gensim for Text Summarization.</p>
        </div>
        <div class="col s6">
          <h5 class="white-text">Connect With Me</h5>
          <ul>
            <a href="https://facebook.com/jameshahnii" target="_blank" class="white-text"><i class="fab fa-facebook fa-3x"></i></a>
            <a href="https://linkedin.com/in/jameshahnii" target="_blank" class="white-text"><i class="fab fa-linkedin fa-3x"></i></a>
            <a href="https://www.youtube.com/triberocket" target="_blank" class="white-text"><i class="fab fa-youtube-square fa-3x"></i></a>
            <a href="https://github.com/jameshahn2/" target="_blank" class="white-text"><i class="fab fa-github-square fa-3x"></i></a>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Engineered by <a class="white-text text-lighten-3" href="https://twitter.com/jameshahnii">James Hahn II</a><br />
      </div>
    </div>
  </footer>
  <!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.3/js/mdb.min.js"></script>

<script src="{{ url_for('static', filename='js/main.js')}}"></script>
<script type="text/javascript">
	$('.file_upload').file_upload();
</script>
</body>
</html>